.background-image{
    --background: url(../../assets/background.png) 0 0/100% 100% no-repeat;
}

.container{
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    img{
        height: 300px;
        margin-top: 200px;
    }
}